  <nav>
    <div class="nav-wrapper">
      <a href="/admin" class="brand-logo">Admin SMKN Pepega 01</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/admin">Beranda</a>
        <li><a href="/admin/daftar-siswa-baru">Daftar Siswa Baru</a>
        </li>
        <li>
        <form action='/logout' method='post'>
        	<button class="btn" style="margin: 0 2rem; background-color: steelblue;">Logout</button>
        </form>
        </li>
      </ul>
    </div>
  </nav>