 <%- include('../include/top.ejs') %>
 <div class="tengah">
 <h3>ID Anda: <%= siswa[index]._id %> </h3>
 <a style="margin: 1rem 0; background-color: salmon" class="btn" href="/form-pendaftaran/<%= siswa[index]._id %>">Print Form Pendaftaran</a>
 </div>
  <%- include('../include/bottom.ejs') %>